In [1]:
import pandas as pd

In [3]:
df =  pd.read_csv('V2_SocialMedia.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_Cliente               300 non-null    int64
 1   Idade                    300 non-null    int64
 2   Genero                   300 non-null    object
 3   Ganho_Anual_(USD)        300 non-null    int64
 4   Ganho_Mensal             300 non-null    int64
 5   Nivel_Escolar            300 non-null    object
 6   Tempo_Uso_Redes_Sociais  300 non-null    float64
 7   Plataforma_de_Uso        300 non-null    object
 8   Grau_de_Influencia       300 non-null    object
 9   Decisao_de_Compra        300 non-null    object
 10  Categoria_do_Produto     300 non-null    object
 11  Produto                  300 non-null    object
 12  Total_Gasto (USD)        300 non-null    int64
 13  Marca                    300 non-null    object
 14  Cidade                   300 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 35.3+ KB

In [5]:
df.describe()

,id_Cliente,Idade,Ganho_Anual_(USD),Ganho_Mensal,Tempo_Uso_Redes_Sociais,Total_Gasto (USD)
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,150.500000,29.483333,55466.666667,4622.173333,2.724000,183.733333
std,86.746758,3.298381,8462.521479,705.208134,0.440914,261.520948
min,1.000000,22.000000,32000.000000,2667.000000,1.800000,0.000000
25%,75.750000,27.000000,51000.000000,4250.000000,2.475000,30.000000
50%,150.500000,29.000000,55000.000000,4583.000000,2.700000,65.000000
75%,225.250000,32.000000,62000.000000,5167.000000,2.900000,200.000000
max,300.000000,45.000000,80000.000000,6667.000000,5.000000,1200.000000