In [125]:
import pandas as pd

In [127]:
df = pd.read_csv('dataset/performance_estudantil.csv')

In [129]:
df.shape

(4018, 23)

In [131]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
2,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
3,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
4,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,No,Yes,Não Informado,Low,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,student4990@university.com,Male,24,CS,80.53,87.83,43.70,...,65.16,81.18,F,15.2,No,Yes,Não Informado,Low,7,7.1
4014,S5993,Ali,Johnson,student4993@university.com,Female,22,Business,99.21,60.16,59.18,...,69.56,85.86,A,16.9,No,Yes,Não Informado,Low,2,7.8
4015,S5997,John,Brown,student4997@university.com,Female,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4016,S5998,Sara,Davis,student4998@university.com,Male,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4017,S5999,Maria,Brown,student4999@university.com,Female,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [133]:
df['Sexo']  = df['Sexo'].apply(lambda Sexo: 'Feminino' if Sexo=='Female' else Sexo)

In [135]:
df['Sexo'] = df['Sexo'].replace({'Male':'Masculino'})

In [137]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S1000,Omar,Williams,student0@university.com,Feminino,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1002,Ahmed,Jones,student2@university.com,Masculino,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
2,S1003,Omar,Williams,student3@university.com,Feminino,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
3,S1004,John,Smith,student4@university.com,Feminino,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
4,S1006,Ahmed,Jones,student6@university.com,Masculino,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,No,Yes,Não Informado,Low,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,student4990@university.com,Masculino,24,CS,80.53,87.83,43.70,...,65.16,81.18,F,15.2,No,Yes,Não Informado,Low,7,7.1
4014,S5993,Ali,Johnson,student4993@university.com,Feminino,22,Business,99.21,60.16,59.18,...,69.56,85.86,A,16.9,No,Yes,Não Informado,Low,2,7.8
4015,S5997,John,Brown,student4997@university.com,Feminino,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4016,S5998,Sara,Davis,student4998@university.com,Masculino,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4017,S5999,Maria,Brown,student4999@university.com,Feminino,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [139]:
df['Atividades_Extracurriculares'] = df['Atividades_Extracurriculares'].replace({'No': 'Não', 'Yes':'Sim'})

In [141]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S1000,Omar,Williams,student0@university.com,Feminino,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,Não,Yes,High School,Medium,5,4.7
1,S1002,Ahmed,Jones,student2@university.com,Masculino,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,Não,Yes,Master's,Low,6,6.2
2,S1003,Omar,Williams,student3@university.com,Feminino,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Sim,Yes,High School,High,3,6.7
3,S1004,John,Smith,student4@university.com,Feminino,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Sim,Yes,High School,High,2,7.1
4,S1006,Ahmed,Jones,student6@university.com,Masculino,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,Não,Yes,Não Informado,Low,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,student4990@university.com,Masculino,24,CS,80.53,87.83,43.70,...,65.16,81.18,F,15.2,Não,Yes,Não Informado,Low,7,7.1
4014,S5993,Ali,Johnson,student4993@university.com,Feminino,22,Business,99.21,60.16,59.18,...,69.56,85.86,A,16.9,Não,Yes,Não Informado,Low,2,7.8
4015,S5997,John,Brown,student4997@university.com,Feminino,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Sim,No,High School,Medium,4,6.3
4016,S5998,Sara,Davis,student4998@university.com,Masculino,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Sim,Yes,Bachelor's,Low,1,8.4
4017,S5999,Maria,Brown,student4999@university.com,Feminino,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,Não,Yes,PhD,Low,2,6.1

In [143]:
df['Acesso_a_Internet'] = df['Acesso_a_Internet'].replace({'No':'Não', 'Yes':'Sim'})

In [145]:
df['Nivel_Renda_Familiar'] = df['Nivel_Renda_Familiar'].replace({'Medium':'Medio', 'Low':'Baixo', 'High':'Alto'})

In [147]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S1000,Omar,Williams,student0@university.com,Feminino,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,Não,Sim,High School,Medio,5,4.7
1,S1002,Ahmed,Jones,student2@university.com,Masculino,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,Não,Sim,Master's,Baixo,6,6.2
2,S1003,Omar,Williams,student3@university.com,Feminino,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Sim,Sim,High School,Alto,3,6.7
3,S1004,John,Smith,student4@university.com,Feminino,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Sim,Sim,High School,Alto,2,7.1
4,S1006,Ahmed,Jones,student6@university.com,Masculino,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,Não,Sim,Não Informado,Baixo,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,student4990@university.com,Masculino,24,CS,80.53,87.83,43.70,...,65.16,81.18,F,15.2,Não,Sim,Não Informado,Baixo,7,7.1
4014,S5993,Ali,Johnson,student4993@university.com,Feminino,22,Business,99.21,60.16,59.18,...,69.56,85.86,A,16.9,Não,Sim,Não Informado,Baixo,2,7.8
4015,S5997,John,Brown,student4997@university.com,Feminino,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Sim,Não,High School,Medio,4,6.3
4016,S5998,Sara,Davis,student4998@university.com,Masculino,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Sim,Sim,Bachelor's,Baixo,1,8.4
4017,S5999,Maria,Brown,student4999@university.com,Feminino,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,Não,Sim,PhD,Baixo,2,6.1

In [149]:
df['Nivel_Educao_dos_Pais'] = df['Nivel_Educao_dos_Pais'].replace({'High School':'Ensino_Medio', "Bachelor's":"Bacharelado", "Master's":"Mestrado", 'PhD':'Doutorado'})

In [159]:
df['Mascara_Email'] = df['Email'].apply(lambda Email: f'{Email[:3]}*********************{Email[-3:]}')

In [163]:
df['Email']  = df['Mascara_Email']

In [165]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite,Mascara_Email
0,S1000,Omar,Williams,stu*********************com,Feminino,22,Engineering,52.29,55.03,57.82,...,56.09,F,6.2,Não,Sim,Ensino_Medio,Medio,5,4.7,stu*********************com
1,S1002,Ahmed,Jones,stu*********************com,Masculino,24,Business,57.19,67.05,93.68,...,70.30,D,20.7,Não,Sim,Mestrado,Baixo,6,6.2,stu*********************com
2,S1003,Omar,Williams,stu*********************com,Feminino,24,Mathematics,95.15,47.79,80.63,...,61.63,A,24.8,Sim,Sim,Ensino_Medio,Alto,3,6.7,stu*********************com
3,S1004,John,Smith,stu*********************com,Feminino,23,CS,54.18,46.59,78.89,...,66.13,F,15.4,Sim,Sim,Ensino_Medio,Alto,2,7.1,stu*********************com
4,S1006,Ahmed,Jones,stu*********************com,Masculino,24,Business,57.60,66.26,89.07,...,83.21,F,21.3,Não,Sim,Não Informado,Baixo,5,6.4,stu*********************com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,stu*********************com,Masculino,24,CS,80.53,87.83,43.70,...,81.18,F,15.2,Não,Sim,Não Informado,Baixo,7,7.1,stu*********************com
4014,S5993,Ali,Johnson,stu*********************com,Feminino,22,Business,99.21,60.16,59.18,...,85.86,A,16.9,Não,Sim,Não Informado,Baixo,2,7.8,stu*********************com
4015,S5997,John,Brown,stu*********************com,Feminino,24,CS,87.54,63.55,64.21,...,54.25,A,24.8,Sim,Não,Ensino_Medio,Medio,4,6.3,stu*********************com
4016,S5998,Sara,Davis,stu*********************com,Masculino,23,CS,92.56,79.79,94.28,...,55.84,A,16.1,Sim,Sim,Bacharelado,Baixo,1,8.4,stu*********************com
4017,S5999,Maria,Brown,stu*********************com,Feminino,21,Engineering,83.92,83.24,53.47,...,77.86,F,29.2,Não,Sim,Doutorado,Baixo,2,6.1,stu*********************com

In [167]:
df.drop('Mascara_Email', axis=1, inplace=True)

In [169]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S1000,Omar,Williams,stu*********************com,Feminino,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,Não,Sim,Ensino_Medio,Medio,5,4.7
1,S1002,Ahmed,Jones,stu*********************com,Masculino,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,Não,Sim,Mestrado,Baixo,6,6.2
2,S1003,Omar,Williams,stu*********************com,Feminino,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Sim,Sim,Ensino_Medio,Alto,3,6.7
3,S1004,John,Smith,stu*********************com,Feminino,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Sim,Sim,Ensino_Medio,Alto,2,7.1
4,S1006,Ahmed,Jones,stu*********************com,Masculino,24,Business,57.60,66.26,89.07,...,93.65,83.21,F,21.3,Não,Sim,Não Informado,Baixo,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S5990,Ali,Johnson,stu*********************com,Masculino,24,CS,80.53,87.83,43.70,...,65.16,81.18,F,15.2,Não,Sim,Não Informado,Baixo,7,7.1
4014,S5993,Ali,Johnson,stu*********************com,Feminino,22,Business,99.21,60.16,59.18,...,69.56,85.86,A,16.9,Não,Sim,Não Informado,Baixo,2,7.8
4015,S5997,John,Brown,stu*********************com,Feminino,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Sim,Não,Ensino_Medio,Medio,4,6.3
4016,S5998,Sara,Davis,stu*********************com,Masculino,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Sim,Sim,Bacharelado,Baixo,1,8.4
4017,S5999,Maria,Brown,stu*********************com,Feminino,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,Não,Sim,Doutorado,Baixo,2,6.1

In [175]:
df['Id_Estudante'] = df['Id_Estudante'].apply(lambda Id_Estudante: f'{Id_Estudante[:1]}***{Id_Estudante[-1:]}')

In [211]:
df

,Id_Estudante,Primeiro Nome,Ultimo_Nome,Email,Sexo,Idade,Curso,Frequencia,Media,Nota_Final,...,Pontos_por_projetos,Pontos_Totais,Nota,Horas_de_estudos_por_Semana,Atividades_Extracurriculares,Acesso_a_Internet,Nivel_Educao_dos_Pais,Nivel_Renda_Familiar,Nivel_Estresse (1-10),Horas_Dormidas_por_Noite
0,S***0,Omar,Williams,stu*********************com,Feminino,22,Engenharia,52.0,55.0,58.0,...,86.0,56.0,F,6.2,Não,Sim,Ensino_Medio,Medio,5,4.7
1,S***2,Ahmed,Jones,stu*********************com,Masculino,24,Gestao,57.0,67.0,94.0,...,74.0,70.0,D,20.7,Não,Sim,Mestrado,Baixo,6,6.2
2,S***3,Omar,Williams,stu*********************com,Feminino,24,Exatas,95.0,48.0,81.0,...,92.0,62.0,A,24.8,Sim,Sim,Ensino_Medio,Alto,3,6.7
3,S***4,John,Smith,stu*********************com,Feminino,23,Ciencia da Computacao,54.0,47.0,79.0,...,68.0,66.0,F,15.4,Sim,Sim,Ensino_Medio,Alto,2,7.1
4,S***6,Ahmed,Jones,stu*********************com,Masculino,24,Gestao,58.0,66.0,89.0,...,94.0,83.0,F,21.3,Não,Sim,Não Informado,Baixo,5,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,S***0,Ali,Johnson,stu*********************com,Masculino,24,Ciencia da Computacao,81.0,88.0,44.0,...,65.0,81.0,F,15.2,Não,Sim,Não Informado,Baixo,7,7.1
4014,S***3,Ali,Johnson,stu*********************com,Feminino,22,Gestao,99.0,60.0,59.0,...,70.0,86.0,A,16.9,Não,Sim,Não Informado,Baixo,2,7.8
4015,S***7,John,Brown,stu*********************com,Feminino,24,Ciencia da Computacao,88.0,64.0,64.0,...,83.0,54.0,A,24.8,Sim,Não,Ensino_Medio,Medio,4,6.3
4016,S***8,Sara,Davis,stu*********************com,Masculino,23,Ciencia da Computacao,93.0,80.0,94.0,...,94.0,56.0,A,16.1,Sim,Sim,Bacharelado,Baixo,1,8.4
4017,S***9,Maria,Brown,stu*********************com,Feminino,21,Engenharia,84.0,83.0,53.0,...,69.0,78.0,F,29.2,Não,Sim,Doutorado,Baixo,2,6.1

In [186]:
df['Curso'] = df['Curso'].replace({'Business':'Gestao', 'Mathematics':'Exatas', 'CS':'Ciencia da Computacao'})

In [190]:
df['Media'] = df['Media'].round()

In [207]:
df['Frequencia'] = df['Frequencia'].round()

In [192]:
df['Nota_Final'] = df['Nota_Final'].round()

In [194]:
df['Pontos_por_projetos'] = df['Pontos_por_projetos'].round()

In [196]:
df['Pontos_por_Participacao'] = df['Pontos_por_Participacao'].round()

In [199]:
df['Media_por_Atribuicoes'] = df['Media_por_Atribuicoes'].round()

In [202]:
df['Media_por_Testes'] = df['Media_por_Testes'].round()

In [209]:
df['Pontos_Totais'] = df['Pontos_Totais'].round()

In [213]:
df.to_csv('Performance_Estudantil.csv', index=False)