In [4]:
import polars as pl 
import datetime as dt

In [6]:
randomic_Data = pl.DataFrame(
    {
        "name": ['Diogo', 'Julia', 'Carlos', 'Karim'],
        'birthdate': [
            dt.date(2003, 6, 15),
            dt.date(2004, 8, 16),
            dt.date(1985, 5, 22),
            dt.date(1988, 2, 8),
        ],
        'sex': ['M', 'F', 'M', 'F'],
    }
)

In [8]:
randomic_Data.write_csv('Datasets/data.csv')

In [13]:
Query = randomic_Data.select(
    pl.col('name'),
    pl.col('birthdate')
)

In [15]:
Query

shape: (4, 2)
┌────────┬────────────┐
│ name   ┆ birthdate  │
│ ---    ┆ ---        │
│ str    ┆ date       │
╞════════╪════════════╡
│ Diogo  ┆ 2003-06-15 │
│ Julia  ┆ 2004-08-16 │
│ Carlos ┆ 1985-05-22 │
│ Karim  ┆ 1988-02-08 │
└────────┴────────────┘